<!DOCTYPE html>
<html lang="en">
<head>
    <title>Response Recorded</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images_fc/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor_fc/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts_fc/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor_fc/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor_fc/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor_fc/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor_fc/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor_fc/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css_fc/util.css">
    <link rel="stylesheet" type="text/css" href="/css_fc/main.css">
    <!--===============================================================================================-->
</head>
<body>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form action="/process_register" method="post" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Response recorded! We'll contact you shortly.
				</span>

            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">#Ref-ID(keep this handy):</span>
                <input class="input100" type="text" name="name" value="<%= ref_I%>" readonly>
                <span class="focus-input100"></span>
            </div>


            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Your Name:</span>
                <input class="input100" type="text" name="name" value="<%= name%>" readonly>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <span class="label-input100">Email:</span>
                <input class="input100" type="text" name="email" value="<%= email%>" readonly>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <span class="label-input100">Drive-link:</span>
                <input class="input100" type="text" name="link" value="<%= link%>" readonly>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <span class="label-input100">Contact no:</span>
                <input class="input100" type="number" name="contact_number" value="<%= cn%>" readonly>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Message is required">
                <span class="label-input100">Some special skills you want us to know?:</span>
                <textarea class="input100" name="message" readonly>
                    <%= message%>
                </textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" disabled>
							<span><b>
								Submit
							</b>
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



<div id="dropDownSelect1"></div>

</body>
</html>
